#map-canvas{
    visibility: hidden;
    width: 300px!important;
    height: 300px!important;
    position: relative;
    overflow: hidden;
}

.map-div{
	
}

#wcys_vehicle_field,#wcys_delivery_type_field{
	float: left;
    width: 100%;}

.yovoy_wrapper{
	width: min-width:50px;
	display: block;
}

.yovoy_wrapper .form-row{
	display: block;
}

.yovoy_wrapper{
    float:left !important;
}

.yovoy_wrapper .desc_yovoy {
    text-align: left !important;
}

.yovoy_wrapper .form-row {
    text-align: left !important;
}

.yovoy_wrapper .form-row p {
    text-align: left !important;
}

.yovoy_wrapper .form-row p span.woocommerce-input-wrapper input {
    float: left !important;
}

.yovoy_wrapper .form-row p span.woocommerce-input-wrapper label.radio {
    float: left !important;
    width: 85% !important;
}

.yovoy_wrapper .custom-carrier {
    text-align: left !important;
}

p#wcys_delivery_type_field {
    margin-top: 50px;
}


.yovoy_wrapper span.woocommerce-input-wrapper input {
    width: 8% !important;
    float: left;
    margin: 7px 10px 0px 0px !important;
    text-align: left;
    height:15px !important;
}

.woocommerce-input-wrapper label {
    width: 80%;
    font-size: 16px;
}

.yovoy_wrapper input#wcys_google_address {
    width: 100% !important;
    min-height: 34px!important;
}

.yovoy_wrapper input#wcys_delivery_reference {
    width: 100% !important;
    min-height: 34px!important;
}

.yovoy_wrapper input#wcys_deliver_date {
    width: 100% !important;
    min-height: 34px!important;
}