#map-canvas{
    visibility: hidden;
    width: 300px!important;
    height: 300px!important;
    position: relative;
    overflow: hidden;
}

.map-div{
	
}

#wcys_vehicle_field,#wcys_delivery_type_field{
	float: left;
    width: 100%;}

